## Conjuntos
Los conjuntos (**set**'s) almacenan elementos que tienen algo en común

propiedades:
* Se pueden modificar
* No tienen un orden
* No permiten duplicados, no es posible tener dos veces el mismo elemento
* Recibe diferentes tipos de elementos. Con excepción de $\rightarrow$ *tuplas, listas , otros set's*

un conjunto es como un diccionario, pero sin sus *keys*
* podría ser la razón por la que no tienen un orden determinado

#### tips con el uso de *set*'s

Una forma rápida de saber cuáles son los elementos únicso de una lista / tupla, es convertirlos a *set*
* El resultado dará de manera predeterminada los valores únicos
  * algunas veces será conveniente

sintaxis fundamental para el uso de sets en python:

* `set(valores)` $\rightarrow$ {valores} : crear un conjunto a partir de una lista / tupla de elementos

* `len(conjunto)` saber el largo del conjunto

* `conjunto.add(elemento)` se agrega un elemento al conjunto

* `conjunto.remove(elemeto)` se quita un elemento específico del conjunto (si no existe da error)

* `conjunto.discard(elemento)` se quita un elemento del conjunto (si no existe no da error)
* `conjunto.clear()` se quitan todos los elementos del conjunto, para quedar vacío

In [25]:
set_countries = {'col', 'mex', 'bol', 'bra'}
print(f'conjunto: {set_countries}, tipo de elemento: {type(set_countries)}')

conjunto: {'mex', 'bol', 'col', 'bra'}, tipo de elemento: <class 'set'>

In [27]:
#no de repiten
set_numbers = {1, 9, 10, 7, 4, 5, 2323, 52, 52}
set_numbers

{1, 4, 5, 7, 9, 10, 52, 2323}

In [10]:
#recibe diferentes tipos de parámetros: 
set_types = {"string", 12, 1.32, True}

In [55]:
#hacer un conjunto a partir de un string: "hola"
string = "hola"
set_string = set(string)
set_string

{'a', 'h', 'l', 'o'}

In [13]:
# crear un conjunto a partir de una tupla
set_tuple = set(('234','asd','asf','fda','gasfd'))
set_tuple

{'234', 'asd', 'asf', 'fda', 'gasfd'}

Conocer el tamaño de un conjunto usando `len()`
* el resultado da el número elementos del conjunto. no los cuenta por índice

In [16]:
len(set_tuple)

5

### agregar elementos: add( )
agregar un nuevo elemento al conjunto usando `.add()`
* lo peculiar de esta función es que al agregar un elemento nuevo. Los ya presentes **se ordenan** y el nuevo se coloca en función de su lugar equivalente: si es un string por su órden albabético, si es un número por su valor 
* `add()` acepta solo un parámetro por vez

In [20]:
print(set_countries)
set_countries.add("arg")
set_countries

{'mex', 'bol', 'col', 'bra'}

{'arg', 'bol', 'bra', 'col', 'mex'}

In [32]:
print(set_countries)
set_countries.add("-2")
set_countries

{'mex', 'bol', '1', 'chi', 'col', '400', 'bra'}

{'-2', '1', '400', 'bol', 'bra', 'chi', 'col', 'mex'}

In [29]:
set_numbers.add(400)
set_numbers

{1, 4, 5, 7, 9, 10, 52, 400, 2323}

### agregar elementos: update( )
con `update()` podemos agregar un nuevo conjunto de elementos al set actual
* cuando se intenta agregar un valor que ya existe dentro del conjunto. este no se agrega

In [33]:
# agregamos set_numbers al conjunto set_countries
set_countries.update(set_numbers)
set_countries

{'-2',
 1,
 '1',
 10,
 2323,
 4,
 400,
 '400',
 5,
 52,
 7,
 9,
 'bol',
 'bra',
 'chi',
 'col',
 'mex'}

### Quitar elementos de un conjunto:  remove( ) / discard ( ) / clear

#### remove
Eliminamos valores dentro de un conjunto, colocándolos como parámetro de `remove()`

  * dará un *error* si el elemento que queremos quitar no existe  en el conjunto

#### discard
Si queremos descartar un elemento, pero no estamos seguros de si está presente o no el conjunto podemos usar `discard( )`

* el resultado es que simplemente no se descartan elementos. Porque aquel que se pretende remover no existe en el conjunto

#### clear
* sacamos **todos** los elementos del conjunto

In [49]:
set_countries.remove(1)
set_countries

{'-2', '1', 2323, 4, '400', 9, 'bol', 'bra', 'chi', 'col', 'mex'}

In [52]:
# descartamos algo que no existe
set_countries.discard(11)
set_countries

{'-2', '1', 2323, 4, '400', 9, 'bol', 'bra', 'chi', 'col', 'mex'}

In [57]:
# quitamos todos los elementos de un set
print(set_string)
print(set_string.clear())

{'h', 'o', 'a', 'l'}
None